

.availble {
    background-color: #F1FAEE;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.busyday {
    background-color: #E42535;
    color: #F1FAEE;
    padding: 5px;
    margin: 2px;
    cursor: not-allowed;
}