.dayx {
    position: absolute;
    top: 40px; left: 40px;
    background-color: rgba(0, 0, 0, 0.226);
}

.availble {
    background-color: rgba(55, 245, 55, 0.589);
}

.busy {
    background-color: rgba(245, 68, 55, 0.589);
}