.calendar {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20vw repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
  }

.calendar-sm {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 2px;
}

.previous {
  color: rgb(115, 115, 241);
  cursor: pointer;
  margin-right: 10px;
}

.next {
  color: rgb(115, 115, 241);
  cursor: pointer;
  margin-left: 10px;
}

  