@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-primary: "Lato", Arial, sans-serif;
$primary: #e13a9d;
$black: black;
$white: white;

@keyframes openbox {
    from{transform:scale(0);opacity:0}
}
  

body {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: lighten($black, 50%);
}
a {
    transition: 0.3s all ease;
    color: $primary;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none;
    }
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-primary;
    color: $black;
}

.bg-primary {
    background: $primary !important;
}

.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}
.ftco-no-pb {
    padding-bottom: 0;
}

.open-calendar-button {
    // position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    cursor: pointer;
    background-image: url("https://f-droid.org/repo/com.simplemobiletools.calendar.pro/en-US/icon_B716bOJxyK28xpLqkebShllKASPFjHdZiRMjEe0oFxY=.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

//HEADING SECTION
.heading-section {
    font-size: 28px;
    color: $black;
}

//COVER BG
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.calendar {
    animation: openbox 0.35s ease-in;
    max-width: 700px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
}

.wrap-header {
    position: relative;
    width: 35%;
    z-index: 0;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: $black;
        opacity: 0.5;
        z-index: -1;
    }

    @media screen and (min-width: 767) {
        width: 100%;
        padding: 20px 0;
    }
}

#header {
    width: 100%;
    position: relative;
    .pre-button,
    .next-button {
        cursor: pointer;
        width: 1em;
        height: 1em;
        line-height: 1em;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        i {
            color: $white;
        }
    }
}

.prev-button {
    left: 5px;
}

.next-button {
    right: 5px;
}

.button-wrap {
    position: relative;
    padding: 10px 0;
    .pre-button,
    .next-button {
        cursor: pointer;
        width: 1em;
        height: 1em;
        line-height: 1em;
        border-radius: 50%;
        position: absolute;
        top: 0;
        font-size: 18px;
        i {
            color: lighten($black, 80%);
        }
    }
    .pre-button {
        left: 20px;
    }

    .next-button {
        right: 20px;
    }
}

.head-day {
    font-size: 9em;
    line-height: 1;
    color: #fff;
}

.head-month {
    // margin-top: 20px;
    font-size: 2em;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.hours-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
}

.hours {
    cursor: pointer;
    padding: 0 0.3em;
    margin: 0.3em;
    background-color: rgba(0, 255, 0, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 15px;
    font-style: bold;
}

.hours:hover {
    color: #fff;
    background: #2a3246; // border: none;
    // &:after{

    // }
}

.calendar-wrap {
    width: 65%;
    background: $white;
    padding: 40px 20px 20px 20px;
    @media screen and (min-width: 767) {
        width: 100%;
    }
}
#calendarTable {
    width: 100%;
}

#calendarTable tr {
    height: 3em;
}

thead tr {
    color: $black;
    font-weight: 700;
}

tbody tr {
    color: #000;
}

tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
    &:after {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        width: 42px;
        height: 42px;
        margin: 0 auto;
        transform: translateY(-50%);
        border-radius: 50%;
        // @include transition(0.3s);
        z-index: -1;
        @media screen and (min-width: 767) {
            width: 25px;
            height: 25px;
        }
    }
}

.free {
    &:after {
        background: rgba(0, 255, 0, 0.233);
    }
}
.busy {
    &:after {
        background-color: rgba(255, 94, 94, 0.418);
    }
}
.busy-period {
    background-color: rgba(255, 0, 0, 0.308);
    cursor: not-allowed;
}

tbody td:hover,
.selected {
    color: #fff;
    border: none;
    &:after {
        background: #2a3246;
    }
}

tbody td:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.today {
    // background-color: $primary;
    color: #fff;
    &:after {
        background: $primary;
    }
}

.disabled {
    cursor: default;
    background: #fff;
}

.disabled:hover {
    background: #fff;
    color: #c9c9c9;
    &:after {
        background: transparent;
    }
}

.resetBtn {
    display: block;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
}

.resetBtn:hover {
    color: $white;
    border-color: $white;
}

.resetBtn:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.closeBtn {
    display: block;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
}

.closeBtn:hover {
    color: $white;
    border-color: $white;
}

.closeBtn:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.modal {
    background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.modal.hidden {
    display: none;
}

.modal .container {
    animation: openbox 0.35s ease-in;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.modal .body {
    box-shadow: 3px 3px #888888;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    padding: 80px;
}

.btn {
    margin: 20px;
}

.loader {
    display: block;
    background: rgba(0, 0, 0, 0.199);
    position: absolute;
    border-radius: 15px;
    top: 25vh;
    left: 25vw;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
}

.typing_loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 40% auto; /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
}
@-webkit-keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

@-moz-keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 2), 40px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 20px 0px 0px 0px rgba(255, 255, 255, 0.2), 40px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}
