.calendar {
    margin: 5px;
    display: grid;
    grid-template-columns: auto 550px 550px;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
    
  }
  
  .grid-one {
    grid-column-start: 2;
  }

  .grid-two {
    grid-column-start: 3;
    
  }

.previous {
  color: rgb(115, 115, 241);
  cursor: pointer;
}

.next {
  color: rgb(115, 115, 241);
  cursor: pointer;
}

  