.calendar {
    margin: 5px;
    display: grid;

    grid-template-columns: 550px;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
    
  }
  
  .grid-one {
    grid-column-start: 1;
  }

  .grid-two {
    grid-column-start: 2;
    
  }

  