.calendarMonth {
    margin: 5px;
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 60px 60px;
    grid-template-rows: 40px 50px 50px 50px 50px 50px 50px;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
    
  }
  
  .day {
    background-color: #A8DADC;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    
  }

  .busy {
   background-color: #E42535;
   cursor: not-allowed;
  }

  .legend {
    background-color: rgb(196, 197, 197);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px;
    font-size: 0.8rem;
  }

  .otherMonth{
    color: rgb(104, 102, 102);
      background-color: rgb(159, 183, 199);;
  }

  .Monday {
    grid-column-start: 1;
  }

  .Tuesday {
    grid-column-start: 2;
  }
  .Wednesday {
    grid-column-start: 3;
  }

  .Thursday {
    grid-column-start: 4;
  }

  .Friday {
    grid-column-start: 5;
  }

  .Saturday {
    grid-column-start: 6;
  }

  .Sunday {
    grid-column-start: 7;
  }