.calendarMonth {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-template-rows: 40px repeat(6, 50px);
    grid-template-areas: 
    "title title title title title title title";
    grid-gap: 3px;
    background-color: rgb(250, 250, 240);
    color: #444;
    border: 2px solid #ffd900;
    border-radius: 2%;
    grid-area: calendar;
  }

  .calendarMonth-sm {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, 1fr));
    grid-template-rows: 40px repeat(6, 50px);
    grid-template-areas: 
    "title title title title title title title";
    grid-gap: 3px;
    background-color: rgb(250, 250, 240);
    color: #444;
    border: 2px solid #ffd900;
    border-radius: 2%;
    grid-area: calendar;
  }
  
  .day {
    background-color: #A8DADC;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    
  }

  .busy {
   background-color: #E42535;
   cursor: not-allowed;
  }

  .monthName {
    color: #E42535;
    grid-area: title;
    align-self: center;
  }

  .legend {
    background-color: rgb(196, 197, 197);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8vw;
    
  }

  .legend-sm {
    background-color: rgb(196, 197, 197);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 2px;
    font-size: 5vw;  
  }

  .Monday {
    grid-column-start: 1;
  }

  .Tuesday {
    grid-column-start: 2;
  }

  .Wednesday {
    grid-column-start: 3;
  }

  .Thursday {
    grid-column-start: 4;
  }

  .Friday {
    grid-column-start: 5;
  }

  .Saturday {
    grid-column-start: 6;
  }

  .Sunday {
    grid-column-start: 7;
  }